.container {
  color: #07a4ea;
  background: #f5e61e;
  padding: 0.8em;
  top: 20px;
  bottom: 0px;
  width: 100%;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  font-size: 14px;

  @media (max-width: 768px) {
    padding: 0.8em;
    font-size: 15px;
    margin-top: 50px;
  }

  bottom: 0;
  list-style: nome;

  .row {
    margin: 0.1px;

    h4 {
      margin-bottom: 0;
      color: #07a4ea;
    }
  }

  hr {
    background-color: #07a4ea;
    height: 1px;
  }
}