.wrapper {
  min-height: calc(100vh - 34rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.questions--grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(600px, 500px));
  grid-gap: 3px;
}

@media (max-width: 700px) {
  .wrapper {
    min-height: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .questions--grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
    grid-gap: 20px;
  }
}

.img-sinalization {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description--questions {
  color: rgba(0, 0, 0, 0.64);
}

.question--required {
  border: 0.4px solid #f3543b;

  border-radius: 2px;
}

.question--padding {
  padding: 2rem;
}

.radio--option {
  color: rgba(0, 0, 0, 0.44);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  label {
    margin-left: 10px;
  }
}

.radio--option-wrong {
  border: 0.2px solid #cf3328;
  border-radius: 4px;
  width: 70%;
}

.radio--option-correct {
  border: 0.2px solid #28cf36;
  border-radius: 4px;
  width: 70%;
}

.footer-form {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-simulator {
  transition: 0.4s;
  padding: 8px;
  border: 0;
  cursor: pointer;
  color: #07a4ea;
  box-shadow: 0.4px 1px 0.4px 1px rgba(0, 0, 0, 0.05);
  background-color: #f5e61e;
}

.button-simulator:hover {
  transition: 0.4s;
  background-color: #dfd00a;
}

.button-time {
  transition: 0.4s;
  padding: 8px;
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: default;
  color: #fff;
  box-shadow: 0.4px 1px 0.4px 1px rgba(0, 0, 0, 0.05);
  background-color: #07a4ea;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: auto;

  div {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 34rem);

  div {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
}
