.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item {
    border-radius: 4px;
    box-shadow: 1.5px 2.5px 1.5px 2.5px rgba(0, 0, 0, 0.048);
    background: #8DD5F5;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}