.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper-body {
  padding-top: 70px;
}

.margin-top {
  margin-top: auto;
}

.dropComponet {
  z-index: -1;

  :hover {
    z-index: 0;
  }
}

.padding-40 {
  padding: 40px;
}

.draw {
  position: relative;
  z-index: -2;
  transform: translateY(calc(100vh - 192%)) translateX(-32px);
}

@media (max-width: 768px) {
  .draw {
    position: absolute;
    width: 422px;
    height: 300px;
    z-index: -2;
    transform: translateY(-325px) translateX(-32px);
  }
}

[data-aos] {
  pointer-events: none;

  &.aos-animate {
    pointer-events: auto;
  }
}