<div class="wrapper">
  <drun-header (sideMenu)="eventSideMenu($event)"></drun-header>
  <div class="wrapper-body">
    <router-outlet></router-outlet>
  </div>
  <drun-footer class="mt-80"></drun-footer>
</div>
