.wrapper__home {
  display: flex;
  gap:120px;
  color: #fff;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.title--home {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #f5e61e;
  line-height: 1.1;
  font-size: 34px;
}

.gird--gap-30 {
  grid-gap: 30px;
}

[nz-icon] {
  color: #f5e61e;
}

.img-border {
  max-width: 600px;
  display: block;
  width: 100%;
}

.img-center {
  max-width: 100%;
  display: block;
}

.maps {
  margin-bottom: 1em;
  width: 100% !important;
  height: 100%;
  max-height: 326px;
}

.sub-title {
  font-size: 10px;
  color: #fff;
}

.list--photo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .wrapper__home {
    padding: 15px;
    gap:80px
  }

  .list--photo {
    flex-direction: column;
    gap: 20px;
  }

  .title {
    font-size: 24px;
  }
}
