.start-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  span {
    color: #fff;
  }
}

.header_simulator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.wrapper_simulator {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer_simulator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.img-sinalization {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description--questions {
  color: rgba(0, 0, 0, 0.64);
}

.question--required {
  border: 0.4px solid #f3543b;

  border-radius: 2px;
}

.question--padding {
  padding: 2rem;
}

.radio--option {
  color: rgba(0, 0, 0, 0.44);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  label {
    margin-left: 10px;
  }
}

.radio--option-wrong {
  border: 0.2px solid #cf3328;
  border-radius: 4px;
  width: 70%;
}

.radio--option-correct {
  border: 0.2px solid #28cf36;
  border-radius: 4px;
  width: 70%;
}
