* {
  font-family: "Ubuntu", sans-serif;
}

.bg {
  box-shadow: 4px 2px 4px 2px #0002;
  background-color: #07a4ea;
  transition: 0.1s;
}

.sideMenu {
  display: flex;
  align-items: center;
  padding: 5px;

  .header-logo-side {
    max-width: 140px;
    height: 28px;
    margin-left: 0.2rem;
  }
}

.navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  justify-content: space-between;
  width: 100%;
}

.header-body {
  width: 100%;
  position: fixed;
  height: 56px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 0 !important;

  @media (max-width: 768px) {
    box-shadow: 4px 2px 4px 2px #0002;
    background-color: #07a4ea;
  }

  .header-icon {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .header-navegation_itens ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .header-navegation_itens li {
    padding: 0 0.5rem;
  }

  .header-navegation {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 1rem;

  }

  .header-logo {
    max-width: 140px;
    height: 28px;
    margin-left: 1rem;
  }

  .header-item-nav {
    margin: 0px 20px 10px 0px;

    background: #f5e61e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    :hover {
      transition: 0.6s;
      color: #007fff;
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
    }
  }
}