/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

html,
body,
#root {
  font-family: "Ubuntu", sans-serif;
  font: 14px;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(970deg, #07a4ea, #07a4ea);
}

body,
input,
header,
button {
  font-family: "Ubuntu", sans-serif;
  font: 14px;
}

a {
  text-decoration: nome;
}

ul {
  list-style: nome;
}

button {
  cursor: pointer;
}

Input {
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 4px;
  height: 44px;
  padding: 0 15px;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 1px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

button {
  padding-left: 14px;
  padding-right: 14px;
  box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.2);
  height: 33px;
  background: #f5e61e;
  font-weight: bold;
  color: #07a4ea !important;
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2;
}

button:hover {
  background-color: #dfd00a;
}

.d-flex {
  display: flex;
}

.gap-10 {
  gap: 10px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.danger {
  color: red;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-80 {
  margin-top: 80px;
}

.flex-1 {
  flex: 1;
}

@media (max-width: 700px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}
